<% 
    const pageProps = {
        title: "MobiStore - Login",
        metaData: [
            {
                name: "description",
                content: "Ecommerce website for selling mobiles, tablets and laptops"
            }
        ]
    }
%> 
<%-include('./layout/head.ejs', {pageProps}) %>

<div class="app">
    <div class="container my-4">
        <a href="/" class="logo">
            <%-include('./svgs/logo.ejs') %>
        </a>
        <%-include('./components/auth.ejs') %>
    </div>
    <%-include('./sections/footer.ejs') %>
</div>

<%-include('./layout/footer.ejs') %>