<% 
    const pageProps = {
        title: "MobiStore",
        metaData: [
            {
                name: "description",
                content: "Ecommerce website for selling mobiles, tablets and laptops"
            }
        ]
    }
%> 
<%-include('./layout/head.ejs', {pageProps}) %>

<div class="app home-page scroll-section" id="home">
    <%= result %>
    <%-include('./components/nav.ejs', {activePage: "home"}) %>
    <%-include('./sections/header.ejs') %>
    <%-include('./sections/products.ejs') %>
    <%-include('./sections/testimonials.ejs') %>
    <%-include('./sections/contact.ejs') %>
    <%-include('./sections/footer.ejs') %>
</div>

<%-include('./layout/footer.ejs') %>